:root {
    font-family: 'Permanent Marker', cursive;
}

body {
    background-color: #374785;
}
.boxes {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    grid-template-areas:
        '1 2 3'
        '4 5 6'
        '7 8 9';
    justify-content: center;
    font-size: 72px;
    max-width: 450px;
    margin: 0 auto;
}

header {
    font-size: 22px;
    color: #f8e981;
    text-align: center;
    padding-bottom: 30px;
    text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

.restart-button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color, border-color, color, box-shadow,
        filter;
    transition-duration: 0.3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 13px 14px 18px;
    color: #f8e981;
    box-shadow: inset 0 0 0 2px #f8e981;
    background-color: transparent;
    height: 42px;
}

.restart-button:hover {
    color: #fff;
    background-color: #616467;
}

#b1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #f8e981;
    border-bottom: 2px solid #f8e981;
    color: #f8e981;
    font-family: 'Permanent Marker', cursive;
}

#b2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #f8e981;
    border-bottom: 2px solid #f8e981;
    color: #f8e981;
    font-family: 'Permanent Marker', cursive;
}

#b3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #f8e981;
    color: #f8e981;
    font-family: 'Permanent Marker', cursive;
}

#b4 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #f8e981;
    border-bottom: 2px solid #f8e981;
    color: #f8e981;
    font-family: 'Permanent Marker', cursive;
}

#b5 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #f8e981;
    border-bottom: 2px solid #f8e981;
    color: #f8e981;
    font-family: 'Permanent Marker', cursive;
}

#b6 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #f8e981;
    color: #f8e981;
    font-family: 'Permanent Marker', cursive;
}

#b7 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #f8e981;
    color: #f8e981;
    font-family: 'Permanent Marker', cursive;
}

#b8 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #f8e981;
    color: #f8e981;
    font-family: 'Permanent Marker', cursive;
}

#b9 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f8e981;
    font-family: 'Permanent Marker', cursive;
}

#winner {
    text-align: center;
    font-size: 1.5em;
    color: #f76c6c;
    text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
}

footer {
    text-align: center;
    padding-top: 50px;
}

/* git fix */
